<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- link font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@300&display=swap" rel="stylesheet"> 
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <!-- link javascript -->
    <script type="module" src="./js/client.js"></script>

</head>
<body class=<%= current %>>
    <div class="wrapper">
      
      <!-- Navigation bar -->
        <%- include('../partials/nav') %>
      <!-- Header -->
        <%- include('../partials/header') %>
        <div class="back-img"></div>
    <!-- Paragraphs home page -->
    <div class="text-field">
      <!-- lorem ipsum -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laborum praesentium qui iusto dolorum suscipit excepturi quae esse nemo quasi doloribus, aut, neque fuga distinctio. Rem voluptatem doloremque debitis voluptatibus nesciunt hic quo dolore deserunt, quaerat ab provident excepturi omnis doloribus possimus nulla, nisi totam quae, aliquid cum aliquam exercitationem! Esse dolorum quod id inventore adipisci reprehenderit modi. Obcaecati illum repudiandae natus dolores omnis libero excepturi a aspernatur doloribus qui minus saepe nisi sapiente molestiae adipisci, nemo exercitationem ab aliquam quam blanditiis! Possimus temporibus, fugit pariatur adipisci voluptatem reiciendis consectetur sit quos expedita, mollitia nisi laboriosam quidem quis officia animi architecto minima voluptatibus dolore dolor. Officiis esse voluptate, ullam alias accusantium, animi commodi sed nihil dolore quas aliquid quam exercitationem architecto maiores impedit eveniet. Earum ducimus sit iste doloribus quo.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sed optio eum quae voluptatibus. At numquam nostrum facilis. Veritatis ratione soluta consectetur alias dolor iure ad, odio consequatur sequi expedita eligendi quidem suscipit dicta eos deserunt, explicabo libero ipsa optio aut quibusdam? Rerum alias inventore aut tenetur voluptatibus mollitia delectus at? Et distinctio quam minus ipsam similique nobis, facilis repellendus possimus eos mollitia labore porro eius fugiat tenetur saepe assumenda commodi cumque laboriosam quasi, molestiae ullam cupiditate? Et qui maiores sunt laboriosam aliquam sapiente quasi neque, minus dicta beatae commodi est aperiam nulla rerum vitae unde. Officia, voluptate cupiditate neque, possimus accusamus rem velit commodi optio sequi, maxime ullam! Odit maiores repudiandae nulla quaerat consequuntur explicabo perferendis! Cumque, voluptates odio.
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, minima, tempore, eligendi eius ratione eos explicabo in facilis cupiditate sequi accusantium obcaecati quisquam dolorem assumenda itaque voluptate! Dignissimos quam rem, dolor inventore sapiente assumenda? Voluptatum et voluptatem nostrum unde laborum tempore cumque, accusamus fugit, ipsum earum enim esse harum aspernatur sit, rerum illo repudiandae magni! Adipisci laboriosam sunt id eius totam, rem rerum dicta laborum, iste blanditiis dolorum, velit placeat esse nostrum obcaecati laudantium modi optio reprehenderit non ipsum ea officiis? Delectus, fuga. Voluptatem, repellat sapiente, porro facere architecto laboriosam officiis minus illo deserunt nostrum blanditiis quo quos, ad illum nesciunt vel quod! Deserunt in rem molestias inventore illo eligendi quia ipsam qui iusto natus earum, veritatis eius. Facere itaque suscipit laudantium natus cumque nostrum sapiente alias obcaecati impedit aperiam. Quibusdam molestias aliquam consequatur veritatis perferendis neque explicabo eveniet amet, ab nemo quam voluptatum nulla consectetur minima magni atque at, modi, excepturi blanditiis quas praesentium reprehenderit. Aliquid dolore eum tempore quaerat at reprehenderit molestiae blanditiis, illo vel quis ab incidunt adipisci placeat eaque accusantium fuga veritatis, odio similique sint quidem? Voluptatem non nam, illo quasi, libero quod, odio asperiores enim deleniti consequatur autem laborum in minima animi inventore nulla eveniet. Provident impedit adipisci velit voluptatibus, facere enim asperiores consequuntur, nesciunt ex, praesentium debitis deserunt doloribus numquam culpa delectus nostrum distinctio.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quasi numquam quam temporibus voluptas dignissimos nihil doloremque deleniti dolorum earum velit eos optio voluptatum tempora iusto, voluptatibus odit. Adipisci eveniet distinctio cumque maiores aliquid atque iusto aliquam repellat iste totam unde tempora vero quisquam ratione sunt voluptate ipsa, veniam esse! Soluta cumque numquam neque ad atque, quos eos possimus accusantium adipisci deserunt quaerat assumenda, aspernatur impedit placeat sunt dolores sed temporibus! Impedit nesciunt nemo excepturi repellat, animi voluptatum enim quo. Repudiandae dicta doloremque numquam, fugiat quibusdam iure reiciendis eaque velit non sit blanditiis perferendis excepturi itaque dolore rem aut quod!
      </p>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </body>
</html>